*{
    margin: 0;
    padding: 0;
}
a:visited,a:hover,a:active,a:focus{text-decoration: none;}
body{
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    margin-bottom: 0;
}
::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #ddd;
}

::-webkit-scrollbar
{
	width: 2px;
	background-color: #ddd;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #ececec;
}
body.designer .container{
margin-left: 0;
}
.uk-margin-small-top{
margin-top: 25px !important;
}
.uk-offcanvas-bar{
background: #fff;
}
.uk-offcanvas-bar .uk-close{
color: #666;
}
.uk-offcanvas-bar .uk-close:hover{
color: #999;
}
.uk-offcanvas-bar h3,.uk-offcanvas-bar p{
color: #666;
}
.uk-offcanvas-bar p i{
    display: block;
    font-size: 11px;
    font-style: initial;
    margin-top: 3px;
    color: #9c9c9c;
}
.uk-offcanvas-bar p{
padding: 10px 0px;
margin: 0;
border-bottom: 1px solid #d0cfcf;
}
.nav-bar{background: #fff;clear: both;float: none;}
.logo,.menu{
    padding: 15px;
    float: left;
   
}
.menu{
    text-align: right;
    padding: 0;
    padding-right: 50px;
    float: right;
}
.menu .uk-navbar-container{
    background: none;
}
.logo img{
    margin-left: 10px;
    margin-top: 10px;
    width: 130px;
    display: inline;
}
.initials .name{
    color: #fff;
    font-size: 14px;
    display: inline-flex;
    width: 42px;
    height: 42px;
    background: #2e3192;
    border-radius: 50%;
    line-height: 42px;
    margin-top: 20px;
    text-transform: uppercase;
}
.uk-navbar-dropdown-nav li a{
    font-size: 13px;
}
.uk-navbar-dropdown-nav li{
    display: block;
    float: none;
    text-align: left;
}
/*.uk-modal-dialog input[type="file"]{
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}*/
.uk-modal-dialog input[type="file"] + label.attach{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: dashed #ddd 2px;
    text-align: center;
    line-height: 88px;
    font-size: 36px;
    color: #ddd;
}
.menu .uk-navbar-container{float: none;}
.main{width: auto;height: calc(100vh - 80px);}
.belt{
    display: flex;
    justify-content: flex-start;
    height: 100%;
}
.main .slot{
    background: #ebf0f2;
    height: 100%;
}
.main .slot:nth-child(even){
    background: #f5f7f8;
}
.draggable{
    overflow-y: scroll;
    height: calc(100% - 39px);
}
.slot{
    width: 24.71%;
}
.slot h4{
    padding:10px 10px;
    color: #fff;
    margin: 0;
}
.slot.ur h4{
    background: #f78e1e;
}
.slot.da h4{
    background: #335caa;
}
.slot.r h4{
    background: #d46227;
}
.slot.h h4{
    background: #4169b2;
}
.create-btn{
position: fixed;
right: 10px;
bottom: 33px;
width: auto;
height: 87px;
display: inline-block;
z-index: 9;
} 
.slot .card,.create-btn button{
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0px 0px 5px rgba(27,41,98,0.2);
}
.create-btn button{
    background: #335caa;
    color: #fff;
    display: block;
    width: calc(100% - 30px);
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 0px 15px rgba(27,41,98,0.6);
    border: none;
    font-size: 16px;
    border-radius: 5px;
}
.create-btn form input{
    display: block;
    height: 35px;
    margin-bottom: 10px;
    width: 100%;
}
.create-btn form input[type=submit]{
    background: #ddd;
    color: #333;
    outline: 0;
}
.uk-dropdown{
    min-width: 300px;
    border-radius: 5px;
}
.uk-dropdown form input[type="submit"]{
background: #335caa;
border: none;
outline: 0;
color: #fff;
text-transform: uppercase;
}
.uk-dropdown form input[type="text"]{
padding-left: 5px;
outline: 0;
}
.slot .card .card-title{
    font-size: 16px;
    font-weight: bold;
    color: #3d4555;
    display: block;
}
.slot .card .comment{
    color: #a5a9ab;
    display: block;
    padding: 10px 0;
}
.slot .card .comment span{
    padding-left: 5px;
}
.slot .card-wrap:visited,.slot .card-wrap:hover,.slot .card-wrap:active,.slot .card-wrap:focus{
    text-decoration: none;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
form.comment .name{
    display: inline-block;
    width: 42px;
    height: 42px;
    background: #2e3192;
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
form.comment textarea{
    width: calc(100% - 62px);
    float: right;
    height: 70px;
    background: #eff4f7;
    border-radius: 3px;
    border: none;
    outline: 0;
    padding: 10px;
}
.sortable-placeholder{
background-color: #ddd !important;
min-height: 100px;
border-radius: 5px;
margin: 15px auto;
width: 90%;
}
form.comment input{
    background: #f78d1e;
    border: none;
    padding: 10px 15px;
    color: #fff;
    float: right;
    margin-top: 10px;
    border-radius: 3px;
    outline: 0;
}
#attach{
    display: none;
}
label.btn-attach{
    background: #666;
    float: right;
    padding: 10px 15px;
    color: #fff;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
}
.comments{
    clear: both;
}
.inner-editor{padding-left: 8px;}
.comments ul{
    list-style: none;
    padding-left: 0;
}
.comments .usr-av{
    float: left;
    width: 42px;
    height: 42px;
    background: #2e3192;
    border-radius: 50%;
    line-height: 42px;
    text-align: center;
    margin-right: 10px;
    color: white;
    text-transform: uppercase;
}
.comments .content h5{
    margin-left: 52px;
}
.comments .content h5 a {
word-break: break-all;
}
.comments .content p{
    margin: 0;
    color: #666;
    font-size: 12px;
}
.comments .content p a{
    margin-left: 10px;
}
.has-edit{
    background: #eff4f7;
    padding: 5px;
    border-radius: 3px;
    position: relative;
}
.has-edit span{
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 12px;
    display: none;
}
.has-edit span::before{
    content: url(images/edit.png);
    padding-top: 5px;
}
.uk-modal-title span{
    top: 10px;
    left: 20px;
}

.has-edit textarea{
    background: none !important;
    border: none !important;
    width: 100%;
}
.save{
    border: none;
    background: #2e3192;
    padding: 10px;
    color: #fff;
    outline: 0;
}
#brief textarea{
    width: 100%;
}
.files ul{
    list-style: none;
    padding-left: 0;
}
.files ul li {
    text-align: left;
    color: #999;
    min-height: 60px;
}
.files ul li h5{
    font-size: 10px;
    text-align: center;
}
.files ul li .file-thumb{
    width: 40px;
    text-align: center;
    /* margin-left: calc(50% - 20px); */
    float: left;
}
.files ul li .file-thumb img{
   
}
.files ul li a{
display: block;
/* width: 100%; */
text-align: center;
float: left;
padding: 10px;
}
.p20{padding-top:20px;margin-top:30px;}
.uk-form-custom input[type=file]{width: 200px;} 
body.dc{background: #0455d1;}
body.dc .main .container{
text-align: center;
}
body.dc .main{height: auto;min-height: calc(100vh - 80px);}
body.dc .main .avt{width:150px;height:150px;background: #f6f6f6;border-radius:50%;text-align: center;margin: 10px auto;}
body.dc .main .avt p{
font-size: 64px;
    line-height: 150px;
    font-weight: bold;
    }
 body.dc .main .container .dc-wrap{max-width:50%;margin: auto auto;background: #fff;border-radius: 20px;padding: 20px;}
  body.dc .main .container .dc-wrap input[type="text"]{
 background: none ;
 height: 35px ;
 border: none ;
 border-bottom: 2px solid #f58d1f ;
 outline: 0;
 }
  body.dc .main .container .dc-wrap button[type="submit"]{
  background: none;
  border: none;
  background: #f58d1f;
  padding: 10px 15px;
  border-radius: 45px;
  color: #fff;
  font-size: 16px;
  width: 200px;
  }
@media(max-width: 968px){
.belt{
    flex-wrap: wrap;
    display: block;
    width: 400%;
    margin-top: 0 !important;
}
#slider{display: block !important;}
.menu{padding: 0px;padding-right:5px;display:inline-block;}
.logo{padding: 0px;}
.main{overflow-x: hidden;}
.section{padding:0;margin: 0;position:relative;height:80px;}
.logo{position: absolute;top:15px;left:5px;}
.logo img{width: 90px;}
 body.dc .main .container .dc-wrap{max-width: 300px;}
 body.dc .main .container .dc-wrap input[type="text"]{
text-align: center;
 }
.slot{
width: 25%;
float: left;
}
.slot .card{
width: 70%;
margin-left: auto;
margin-right: auto;
}
.slot .card:nth-last-of-type(1){
margin-bottom: 110px;
}
.nav-bar.row{margin: 0 !important;}
.nav-bar .col-md-6{
width: 100% !important;
display: block;
}

.slot{
width: 25%;
float: left;
}
.slot .card{
width: 70%;
margin-left: auto;
margin-right: auto;
}
.slot .card:nth-last-of-type(1){
margin-bottom: 100px;
}

}
textarea {
  padding-bottom: 5px;
  outline: 0;
  transition: 0.2s height ease-in-out;
  padding-left: 10px;
}
#slider{
    position: fixed;
    left: 20px;
    bottom: 56px;
    border-radius: 45px;
    z-index: 999999;
    display: none;
}
.uk-modal{z-index: 9999999;}
input[type=range]{
width: 100%;
margin-left: auto;
margin-right: auto;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 3px solid #ddd;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -17px;
  background-image: url("/assert/img/slide.png");
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 3px solid #ddd;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  background-image: url("/assert/img/slide.png");
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
}
.uk-margin{
margin-top: 33px;
margin-bottom: 0;
}
/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 3px solid #ddd;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  background-image: url("/assert/img/slide.png");
  background-size: 20px 20px;
  background-position: center center;
  background-repeat: no-repeat;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #2e3192;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2e3192;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #2e3192;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}