

.job-title{display:block; float:left; width:100%;}
.job-title h2{display:block; float:left; width:100%; font-size:22px !important; color:#00CCFF; margin-bottom:20px !important;}
.job-title h2 i{color:#00CCFF !important; font-size:16px; padding-right:5px;}
.resp-tabs-list li i{color:#1b1b1b; font-size:14px;padding-right:7px !important;}


.items-loop{display:block; float:left; width:100%; padding:10px; border:2px solid #555 !important; margin-bottom:30px !important; background:#fff;}
.items-loop:hover{border:2px solid #00ccff !important;}
.f-icon{float:left; display:block; width:100%; margin-bottom:15px; }
.f-icon img{float:left; display:block; width:auto !important; }
.f-icon h3 {display: block;float: left;width: auto !important;float: left;font-size: 20px;line-height: 30px; margin-top: -5px !important; padding-left: 20px;}
.f-icon h3 a{ color:#00CCFF !important;}
.items-loop:hover h3 a{color:#1b1b1b !important;}
.job-details{float:left; display:block; width:100%;}
.left-col-info{display:block; float:left; width:50%;}
.right-col-info{display:block; float:right; width:50%; text-align:right !important;}



ul.resp-tabs-list, p {margin: 0px; padding: 0px;}

.resp-tabs-list li {
    
    font-size: 13px;
    display: inline-block;
    padding: 10px 15px;
   
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
	border: 1px solid #5AB1D0 !important;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 10px 15px !important;
	border-top: 4px solid #5AB1D0 !important;
	border-bottom: 0px #fff solid !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
	border-top-color: #5AB1D0;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
	margin-top:0px !important;
	border: 1px solid #1b1b1b !important; margin-right:-1px !important;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 10px 15px !important;   
    cursor: pointer;
    float: none;
	background:#fff !important;
	border:none !important;
	color:#444;
	border-bottom: 1px solid #1b1b1b !important;
	margin-bottom:0px !important;
}
.resp-vtabs .resp-tabs-list li:hover {color:#00CCFF !important;}

.resp-vtabs .resp-tabs-list li:last-child{border-bottom:none !important;}

.resp-vtabs .resp-tabs-container { background-color: #FAFAFA; border: 1px solid #1b1b1b !important;
    float: left;width: 70%; min-height: 250px; clear: none;}

.resp-vtabs .resp-tab-content {border: none; word-wrap: break-word;}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 10px 15px !important;
background:#fafafa !important;
color:#00CCFF !important;}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;/* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
	
.resp-vtabs .resp-tabs-container			{border:0 !important; background:none !important;}
h2.resp-accordion							{padding:0px 15px !important;}
.resp-arrow									{margin-top:15px !important;}
.fa.fa-plus-square 							{padding-right: 10px;}
.resp-tab-active 							{border-width: 1px !important;  background: #fafafa !important; border-left:1px solid #C1C1C1 !important; border-right:1px solid #C1C1C1 !important; border-top:0px !important;}
.main-job-item.resp-tab-content.ver_1.resp-tab-content-active { background: #fafafa !important; display: block;float: left; width: 100%; border-top:none;}


.resp-vtabs .resp-tabs-container{padding:0px !important;}
}
